.container {
    max-width: 1250px;
    box-sizing: border-box;
    margin: 0px auto 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 30px 20px;
    border-radius: 16px;
    background-color: #F0F0F0;
    box-shadow: 2px 2px 2px #F0F0F0;

    position: relative;
    top: 10px;
}

.divisao {
    display: block;
    width: 6px;
    height: 120px;
    border-radius: 25px;
    background-color: black;
}

.texto-logo {
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0.1rem;
    text-transform: uppercase;

}

.texto-logo .first-Letter {
    font-size: 36px;
}